<a href="https://colab.research.google.com/github/ysnju/Unit-1/blob/main/CS_prep_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Programming exercises
1.write a program that calculates the addition of all integer numbers from 0 to 2021

We will use the  arithemitic wsequence 
$$ sum = 1/2(1+n)$$

In [ ]:
 start_num = 0
end_num = 2021

n = end_num -start_num

#calculate the addition
result = n*(n+1 )/2

print("The additiion of integers from",start_num, "to ,end_num", "is:",result)

The additiion of integers from 0 to ,end_num is: 2043231.0

In [ ]:
#printing using f-strings
print(f"The addition of integers from{start_num} to {end_num} is: {result}")

The addition of integers from0 to 2021 is: 2043231.0

Write a program that calculates the value of y when the user enters a integer x

In [ ]:
x = int(input("enter the number for x"))
y = (2*(x+3)-3)
print(y)

enter the number for x3
9

Write a program that asks the user for his name and grade and outputs the user's email address at UWCISAK

In [ ]:
#creating uwc emails
first_name = input("Enter your first name")
last_name = input("Enter your last name")
grade_no = int(input("Enter your grade (10, 11 or 12"))
year = 2034 - grade_no
print(f"Your email is .{year}.{first_name}.{last_name}@uwcisak.jp")

Enter your first nameanju
Enter your last nameyasu
Enter your grade (10, 11 or 1214
Your email is .2020.anju.yasu@uwcisak.jp

Write a program that converst a temperature from Fahenheit to Celsius f-32*0.5556 is Celsius

In [ ]:
print("tempurture now in faranheit")
f = int(input())
c = (f-32)*0.5556
print(f"tempurture now in celsius is {c}")

tempurture now in faranheit
30
tempurture now in celsius is -1.1112

Write a program to convert from miles to kilometers。
$$miles = 1.609*km

In [3]:
#Step 1 ask the user for miles
#store the value 
#3calculate km as miles
#4 print out the result to the user
mile_number = int(input("Type mile number"))
km_number = mile_number/1.609
print(km_number,"km")

Type mile number1
0.6215040397762586 km

In [1]:
#Dr.Ruben answer
miles = int(input("Please enter the miles (use only integer values)"))
km = (1.609)*miles
print(f*{miles}"miles are equal to "{km}"km")

SyntaxError: ignored

⑦ Write a program to reverse a number entered by the user。

Ex: Input 123 output 321

In [1]:
noun = "animal" #This is a string because of its quotation marks
print(noun[0]) #means that I want to get the first letter aka [Indexing] we start counting at 0

#print the last letter in the string
print(noun[-1]) #minus 1 means last, -2 means second from last -3 means third form last

#get a part or substring take to the element2 to 4 in the steps of one
#[start:end:step]
print(noun[0:-1:2])

#reverse the word using indexing
print ("reversing", noun[-1:1:-1])

age = int(50)
str_age = str(age)
#print(str_age[-1], str_age[0]

a
l
aia
reversing lami

⑥ Write a program that solves the Quadratic Equation for valid inputs a, b, c。

In [1]:

a = int(input("enter value for a"))
b = int(input("enter value for b"))
c = int(input("enter value for c"))
d = ((b**2-4*a*c))**(1/2)
x1 = -(b+d)/2*a
x2 = -(b-d)/2*a
print("The first solution is",x1,"The second solution is",x2)

enter value for a1
enter value for b9
enter value for c-1
The first solution is -9.109772228646444 The second solution is 0.10977222864644354

⑦ Write a program to reverse a number entered by the user。

In [2]:
n = input("Enter a number")
print(n[-2::-2])

Enter a number123456789
8642

⑧ Write a program that asks the user for their name, age, nationality and produces a greeting message such as “Welcome John Doe you are 30 years old and a national of Colombia”

In [1]:
name = input("Enter your name")
age = int(input("Enter your age"))
nationality = input("Enter your nationality")
print("Welcome",name,"you are",age,"years old and a national of",nationality)

Enter your nameAnju Yasu
Enter your age16
Enter your nationalityJapanese
Welcome Anju Yasu you are 16 years old and a national of Japanese

⑨ Create one more program that converts between different units.

In [1]:
m2 = int(input("Enter the size of the space in square meters"))
print("your space will fit",m2*1/1.6562,"tatamis")

Enter the size of the space in square meters15
your space will fit 9.056877188745322 tatamis